@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CloudPlay !</h1>
    <p>Go to VMs List to run a Virtual Machine and start playing remotely !</p>
</div>
